<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I'm a UC San Diego computer science major in my final year, ready for my skills to blossom in a backend and/or database development role. I have a strong coursework background in software engineering principles, Agile methodology, and algorithm analysis/design.
            </p>
            <p class="paragraph-text justify-text">
                My other tech interests include cybersecurity, machine learning, and 3D printing. Outside of tech, I love listening to music, reading, and caring for my beloved orange cat.
            </p>
            <p class="paragraph-text justify-text">
                I'm based in San Diego, CA, and willing to relocate for the right opportunity. I'm originally from Escondido, CA.
            </p>
        </div>
    </section>
</div>
